@page "/counter"
@inject UserService userService

<PageTitle>Counter</PageTitle>

<h1>Welcome to Trading Client</h1>

@if (SessionData.CurrentUser is null)
{
    <button class="btn btn-primary" @onclick="LogIn">Log In</button>

    <button class="btn btn-primary" @onclick="SignUp">Sign Up</button>
}
else
{
    <h3>Hello @SessionData.UserEmail</h3>
}

@code {
    string UserEmail = "abc@xyz.com";
    string Name = "Hieu";

    async Task LogIn()
    {
        var user = await userService.GetUserByEmailAsync(UserEmail);
        SessionData.UpdateCurrentUser(user);
    }

    async Task SignUp()
    {
        var user = new User()
        {
            Email = UserEmail,
            Name = Name,
            Balance = 1000
        };
        try
        {
            await userService.CreateUserAsync(user);
            SessionData.UpdateCurrentUser(user);
        }
        catch(Exception)
        {
            return;
        }
    }
}
